# Required folders are not ignored.
!src
!tests

# Required files are not ignored (include metafiles).
!*.xml
!*.json
!*.lock
!.editorconfig

# Files not pushed to the remote repository.
clover.xml
vendor/*
tests/.DS_Store