<?xml version="1.0" encoding="UTF-8"?>
<phpunit  colors="true"
          coverageClover="clover.xml"
          bootstrap="vendor/autoload.php"
          convertErrorsToExceptions="true"
          convertWarningsToExceptions="true"
          convertNoticessToExceptions="true"
          stopOnFailure="false">
    <testsuites>
        <testsuite name="Test Generator">
            <directory suffix="Tests.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
